.numToword{
    margin: auto;
    width: 80%;
    border: 3px solid blueviolet;
    padding: 10px;
    border-radius: 25px;
    background-color:ghostwhite;
    text-align: center;
    color:blueviolet;
}

input[type = number]{
    margin:auto;
    width :60%;
    border:1px solid black;
    padding:5px;
    border-radius: 15px;
}
#covert {
    background-color: blueviolet;
    border:2px;
    color:black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  #result{
      font-size: larger;
  }
  